/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
.container{
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 15px;
}
.content{
  flex: 1 1 auto;
}
/* header style start */
.header{
  background: #fff;
}
.grin{
  color: #71B92F;
}
.blue{
  color: #0E357E;
}
.header__row{
  display: flex;
}
.header__nav{
  display: flex;
  align-items: center;
  margin-top: 66px;
  /* margin-right: 170px; */
}
.header__item{
  display: flex;
  margin:0px 41px ;
}
.header__link{
  font-weight: 800;
font-size: 14px;
line-height: 17px;
}
.header__kont{
  display: flex;
  flex-direction: column;
}
.header__phone img{
  margin-right:6px;
  height: 20px;
  width: 20px;
}
.header__phone a{
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  color: #4F5E74;
}
.header__phone p{
  font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #4F5E74;
}
.header__enter img:first-child{
margin-right: 10px;
height: 20px;
width: 15px;
}
.header__enter p{
margin-right: 27px;
}
.header__phone{
  margin-bottom: 23px;
  margin-top: 26px;
}
.header__phone,
.header__enter{
  display: flex;
  align-items: center;
  
}

/* header style start */

/* footer style start */
.footer{
  background: #0E357E; 
  padding: 80px 88px;
}
.footer__container{
  max-width: 1204px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__row{
display: flex;
}
.footer__item{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footer__title{
  font-weight: 800;
font-size: 14px;
line-height: 160%;
color: #71B92F;
}
.footer__link{
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  margin: 5px 0;
}
.footer__text{
  font-size: 10px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 29px;
}
.footer__icon{
  margin-bottom: 44px;
}
.footer__phone{
display: flex;
align-items: center;
}
.footer__phone img{
  margin-right:6px;
}
.footer__phone a{
  font-weight: 800;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
}
.footer__phone p{
  font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #FFFFFF;
}
/* footer style end */